.preloader-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.preloader-container i {
  position: absolute;
  background-color: white;
  top: -250px;
  -webkit-animation: star-fly 5s linear infinite;
  animation: star-fly 5s linear infinite;
}

@-webkit-keyframes star-fly {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(150vh);
    transform: translateY(150vh);
  }
}

@keyframes star-fly {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(150vh);
    transform: translateY(150vh);
  }
}

.preloader-container .rocket {
  height: 150px;
  position: relative;
  -webkit-animation: rocket-fly 1.5s linear infinite;
  animation: rocket-fly 1.5s linear infinite;
  z-index: 100;
}

@-webkit-keyframes rocket-fly {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
}

@keyframes rocket-fly {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
}

.preloader-container .rocket:before,
.preloader-container .rocket::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 30px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00b7ff),
    to(transparent)
  );
  background: linear-gradient(to bottom, #00b7ff, transparent);
  bottom: 0;
  top: 72%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.preloader-container .rocket::before {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.preloader-container .rocket::after {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.preloader-container .rocket img {
  position: relative;
  height: 100%;
  z-index: 100;
}

@media screen and (max-width: 587px) {
  .preloader-container .rocket {
    height: 120px;
  }
  .preloader-container .rocket:before,
  .preloader-container .rocket::after {
    height: 150px;
    width: 25px;
  }
}

#preloader.hide {
  height: 0;
  overflow: hidden;
}
