// Navbar Section Styles Start *****************************************

nav {
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 2s;
  @include respond(tab-port) {
    position: absolute;
    z-index: 10000;
    top: 0;
  }

  .nav-container {
    width: 100%;
    background-color: var(--dark-sayan);
    @include flexCenter();
    justify-content: space-between;
    border-bottom: 3px var(--highlight) solid;
    position: relative;

    @include respond(tab-port) {
      align-items: flex-start;
      flex-direction: column;
    }

    .menu-item {
      @include flexCenter;
      text-align: left;
      transition: height 0.3s linear;
      height: auto;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
      }

      li {
        margin: 1.5rem 0rem 1.5rem 4rem;
        list-style: none;

        @include respond(tab-port) {
          margin: 1.5rem 0rem 1.5rem 2rem;
        }

        a {
          display: inline-block;
          &:visited,
          &:link {
            text-decoration: none;
            font-size: 2rem;
            color: var(--white);
            font-weight: 600;
            transition: color 0.5s;
          }

          &:hover {
            color: var(--highlight);
          }
        }
      }
    }

    .nav-toggle {
      cursor: pointer;
      margin-right: 3rem;
      padding: 1.2rem 0;
      display: none;

      @include respond(tab-port) {
        display: inline-block;
        margin: 1.5rem;
      }

      p {
        height: 2px;
        width: 3rem;
        background-color: var(--highlight);
        position: relative;
        transition: 0.3s;
        pointer-events: none;

        &::after,
        &::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          background-color: var(--highlight);
          transform-origin: center;
          transition: 0.3s;
        }

        &::before {
          transform: translateY(-1rem) translateX(-50%);
        }
        &::after {
          transform: translateY(1rem) translateX(-50%);
        }
      }
    }
  }
}

#nav .toggle {
  height: 27rem;
}

#nav .active {
  transform: scale(1.2);

  p {
    background-color: transparent;
  }
  p::after {
    transform: translateY(0) translateX(-50%) rotate(315deg);
    background-color: red !important;
  }

  p::before {
    transform: translateY(0) translateX(-50%) rotate(-315deg);
    background-color: red;
  }
}

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  animation: navAnimation 0.4s linear;
}

// Navbar Section Styles End #########################################
