.portfolio-section {
  padding: 8rem 0;
  border-bottom: 5px var(--black) solid;
  // background-color: #020d20;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  @include respond(tab-port) {
    padding: 2rem 0;
    background: linear-gradient(180deg, #2c5364);
  }

  h3 {
    text-align: center;
  }
  span {
    display: block;
    margin: 0 auto;
  }
}

.portfolio {
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 5rem 10rem;
  @include respond(tab-port) {
    grid-template-columns: auto;
    padding: 5rem 1rem;
  }

  &__box {
    height: auto;
    overflow: hidden;
    // border: 1px solid white;
    transition: 0.5s;
    border-radius: 5px;

    &:hover .img-box img {
      filter: grayscale(0);
    }

    // &:hover .description-box {
    //   transform: translateY(0);
    //   padding-top: 4rem;
    // }
  }
}

.portfolio-main-box {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;

  .img-box {
    flex-basis: 60%;
    overflow: hidden;

    img {
      width: 100%;
      transition: 0.5s ease-out;
      // filter: grayscale(50%);
    }
  }

  .description-box {
    flex-basis: 40%;
    width: 100%;
    min-height: 250px;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h3 {
      // color: black;
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
    }

    h4 {
      font-size: 1.6rem;
      color: white;
      margin-top: -1.5rem;
      font-weight: 300;
    }

    p {
      font-size: 1.6rem;
      padding: 0 1rem 2rem 1rem;
    }

    a {
      background-color: rgba(0, 0, 0, 0.2);
      text-decoration: none;
      font-size: 1.8rem;
      color: white;
      padding: 0.5rem 1rem;
      display: inline-block;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transition: 0.3s;
      border-radius: 5px;

      &:hover {
        background-color: var(--blue);
        border: 1px solid var(--black);
      }
    }
  }
}

// .portfolio__box:hover + .portfolio__box:not(:hover) {
//   filter: blur(5px);
// }

// .portfolio:hover .portfolio__box:not(:hover) {
//   filter: blur(5px);
// }
