.preloader-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
  transition: 0.5s;

  i {
    position: absolute;
    background-color: white;
    top: -250px;
    animation: star-fly 5s linear infinite;

    @keyframes star-fly {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(150vh);
      }
    }
  }

  .rocket {
    height: 150px;
    position: relative;
    animation: rocket-fly 1.5s linear infinite;
    z-index: 100;

    @keyframes rocket-fly {
      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-9px);
      }
    }

    &:before,
    &::after {
      content: "";
      position: absolute;
      height: 200px;
      width: 30px;
      background: linear-gradient(to bottom, rgb(0, 183, 255), transparent);
      bottom: 0;
      top: 72%;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      filter: blur(5px);
    }

    &::after {
      filter: blur(50px);
    }

    img {
      position: relative;
      height: 100%;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 587px) {
  .preloader-container {
    .rocket {
      height: 120px;

      &:before,
      &::after {
        height: 150px;
        width: 25px;
      }
    }
  }
}

#preloader.hide {
  height: 0;
  overflow: hidden;
}
